<div style="text-align: center">
    <h1>Credenciales incorrectas!</h1>
    <h2>Hola, {{email}}, favor intentar nuevamente</h2>
    <a href="/users/login" style="--bs-link-opacity: .5">Volver a iniciar sesion</a>
</div>