<h1>Sitio web oficial de la asignatura : TDA-251 Programación Web</h1>

<div class="card" style="width: 18rem;">
    <a href="/users/signup" style="color: black;">
        <img src="https://cdn-icons-png.freepik.com/256/1077/1077114.png?semt=ais_hybrid" class="card-img-top"
            alt="ícono de persona">
        <div class="card-body">
            <h5 class="card-title">Registro de Usuarios</h5>
            <p class="card-text">Navegar a la sección de registro de usuarios</p>
        </div>
    </a>
</div>