<div id="user-form-div">
	<form action="/users/login" method="POST" class="row g-3" id="user-login-form">
	<h1 id="user-form-title" class="display-4">Iniciar Sesion</h1>
		<div class="col-md-6">
			<label for="emailInput" class="form-label">Correo electrónico</label>
			<input type="email" class="form-control" id="emailInput" name="email" placeholder="test@test.com">
		</div>
		<div class="col-md-6">
			<label for="passwordInput" class="form-label">Contraseña</label>
			<input type="password" class="form-control" id="passwordInput" name="password">
		</div>
		<div class="d-grid gap-2 col-6 mx-auto">
			<button type="submit" class="btn btn-primary">Iniciar Sesion</button>
		</div>
	</form>
</div>