<form action="users/process" method="POST">
	<div>
    	<label for="fieldColor">Color favorito: </label>
    	<input type="text" id="fieldColor" name="color">
	</div>
	<div>
    	<button type="submit">Submit</button>
	</div>
</form>